@model List<Rentals.DTOs.FilmDto>

@{
    <div class="form-horizontal">
        <ul>
            @foreach (var film in Model)
            {

                <li class=""><h4>@film.Name</h4>
                <input type="submit" class="btn-primary" onclick="returnFilm(@film.FilmId)" />
            <ul>
                <li><strong>@film.Genre</strong></li>
                <li><strong>@film.Year</strong></li>
            </ul>
            </li>
            }
        </ul>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>