@model List<Rentals.DTOs.FilmDto>
@{
    ViewBag.Title = "All Films";
}

<div><br/></div>
<div class="col-sm-offset-8">
Filter By: @Html.DropDownList("My Type", EnumHelper.GetSelectList(typeof(Rentals.Enums.SortDropDown)), "Select one...", new { @class = "form-control", id = "filter" })
    
</div>

<h2>Available Films</h2>

<div class="container" id="partialView">
    @{Html.RenderPartial("/Views/Home/_FilmDetails.cshtml", Model);}

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#filter").change(function () {
            var selectedIndex = $("#filter").find(":selected").text();
            $.ajax({
        url: '@(Url.Action("Sort"))',
        data: {'sortBy' : selectedIndex},
        cache: false,
        async: true,
        type: "POST",
        error: function (html) { alert(html); }, 
        success: function (data) {
            $("#partialView").html(data);
        }
    })
        
        });
        
    });
</script>

@*
    $("#filter").change(function(){
    $("#partialView").load('@(Url.Action("Sort", "Home"))');
*@